<script type=text/html id=step2><div class="panel panel-primary emc-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Select Systems</h3>
                        </div>
                        <div class="panel-body">
        <h2>Step 2: Select Systems</h2>
        <div class="alert alert-danger done">Oops! You have already selected the required number of systems</div>  
        <div class="alert alert-danger incomplete">Oops! You have not selected the required number of systems</div>            
          
        <p class="help-block">For Tracking purposes, you can choose to bind a license to a machine.</p>
        <p class="help-block">Select Systems from the site:</p>
<div class="panel-group" id="accordion">

<% for(var k=0; k< resp.selectedProds.length; k++){%>
 <div class="panel panel-default error-holder">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= k %>">
          <%=resp.selectedProds[k].name %>
        </a>
      </h4>
    </div>
    <% if(k == 0) {%>
    <div id="collapse_<%= k %>" class="panel-collapse collapse in">
    <% } else {%>
      <div id="collapse_<%= k %>" class="panel-collapse collapse">
    <% } %>
<div class="panel-body selection-parent">
        <div class="btn-group btn-input clearfix">
            <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
              <span data-bind="label">Select One</span> <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" role="menu">
                 <% for(var i=0; i< resp.length; i++){ %>
                    <li class="sel_<%= resp[i].siteID %>"><a href="javascript:"><%= resp[i].city%>, <%=resp[i].country%>, <%=resp[i].provinceCode%>, <%=resp[i].pinCode%>  </a></li>
                  <% } %>
                </ul>
        </div>
        <hr />

         <div class="row">
                              <div class="col-md-9">
                                <p class="help-block">Select <%= resp.selectedProds[k].qty %> System(s) to bind to:</p>                                
                                <p class="help-block" id="selectedSite"><strong>Please select a Site</strong></p>
                              </div>
                              <div class="col-md-3 text-right">
                                <p class="help-block">Number of license(s)</p>
                                <p class="help-block" id="selectedLicenses"><strong> <%= resp.selectedProds[k].qty %></strong></p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <input type="text" placeholder="Find a Machine" class="form-control filter-list-txt" disabled="disabled">
                                <div class="panel panel-default">
                                  <div class="panel-body no-padding">
                                    <ul class="filter-list">
                                       <% for(var i=0; i< resp.length; i++){                                        
                                           for(var j=0; j< resp[i].systemList.length; j++){ 
                                        %>
                                          <li class="list_sel list_sel_<%= resp[i].siteID %> disp-none"><input type="checkbox" data-id="<%=resp[i].systemList[j].id%>" class="sel_system"> <label><%= resp[i].systemList[j].systemName  %></label> </li>
                                       <% } }%>
                                    </ul>
                                  </div>
                                </div>
                                
                              </div>
                              <div class="col-md-6">
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h3 class="panel-title"><label class="selCount">0</label> of <%= resp.selectedProds[k].qty %> System(s) selected</h3>
                                  </div>
                                  <div class="panel-body no-padding">
                                    <ul class="selected-list">  

                                    </ul>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <input type="hidden" id="prod_exp_<%= k %>" class="prod-sel-qty-exp" value="<%= resp.selectedProds[k].qty %>">
                          <input type="hidden" id="prod_act_<%= k %>" class="prod-sel-qty-act" value="0">

          </div>
          </div>

          </div>
<% } %>
        </div>
       <div class="panel-footer">
                            <div class="pull-left">
                                <a href="wizard.html" class="btn btn-default">Back</a>
                            </div>
                            <div class="pull-right">
                                <a href="index.html" class="btn btn-default">Cancel</a>
                                <a href="javascript:" data-nextid="step3" class="btn btn-primary next-step">Next: Enter Locking IDs &raquo;</a>
                            </div>

                        </div>
        </div></script>
<script type=text/html id=selectedTmpl><li><span data-id="<%= obj.id %>" class="glyphicon glyphicon-remove remove-item"></span> <%= obj.systemName %></li></script>
<script type=text/html id=loadingTmpl><% var loadingText = loadingText || 'loading...'; %>
         <div class="panel panel-primary emc-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Loading Next Step</h3>
                        </div>
                        <div class="panel-body">
        <div class="loading"></div>
        </div>
        </div></script>
<script type=text/html id=step3><div class="panel panel-primary ems-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Enter Locking IDs</h3>
                        </div>
                        <div class="panel-body">
                             <h2>Step 3: Entering Locking IDs</h2>
                              <p class="help-block">Enter or verify the locking IDs for each system below.</p>
                              <hr/>
                               <% for(var i=0; i< resp.selectedSystems.length; i++){ var a = resp.selectedSystems[i];   %>
                                  <h4><span class="glyphicon glyphicon-inbox"></span> <%= a.sysName %></h4>
                                  <p class="help-block">Mac address</p>
                                  <input type="text" class="form-control " placeholder="Enter the MAC address of this machine">
                                <% } %>

                        </div>
                              <div class="panel-footer">
                            <div class="pull-left">
                                <a href="wizard.html#step2" class="btn btn-default">Back</a>
                            </div>
                            <div class="pull-right">
                                <a href="index.html" class="btn btn-default">Cancel</a>
                                <a href="javascript:" data-nextid="step4" class="btn btn-primary next-step">Next: Review Activations &raquo;</a>
                            </div>

                        </div>


    </div></script>
<script type=text/html id=step4><div class="panel panel-primary ems-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Review Activations</h3>
                        </div>
                        <div class="panel-body">
                            <h2>Step 4: Review Activations</h2>
                            <p class="help-block">Please review, then click "Activate Licenses" to generate  License keys</p>
                            <% for(var i=0; i< resp.activated_licenses.length; i++){ var a = resp.activated_licenses[i];%>
                            <div>
                                <h4><span class="glyphicon glyphicon-inbox"></span> <%= a.bound_to %></h4>
                                <div class="panel panel-default get-licenses-panel">
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <th>License</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>                                                   
                                                    <div class="help-block">Networker mod for Oracle CLT Oracles8 & Later UX</div>
                                                </td>
                                                <td><%=a.quantity%></td>
                                                <td><%=a.units %></td>                                             
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                          <label class="pull-right"><input type="checkbox" id="tnc"> I agree to the <a href="javascript:" data-toggle="modal" data-target="#tncModal">Terms and Conditions</a>
                        </div>
                        <div class="panel-footer">                            
                            <div class="pull-left">
                                <a href="wizard.html#step2" class="btn btn-default">Back</a>
                            </div>
                            <div class="pull-right">
                                <a href="index.html" class="btn btn-default">Cancel</a>
                                <a href="javascript:" data-nextid="step5" id="step4Next" class="btn btn-primary next-step disabled">Next: Get License Keys &raquo;</a>
                            </div>

                        </div>
                    </div></script>
<script type=text/html id=step5><div class="panel panel-primary ems-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Get License Keys</h3>
                        </div>
                        <div class="panel-body">
                            <h2>Step 5: Get License Keys</h2>
                            <a href="javascript:" class="btn btn-success"> <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email All</a>
                            <a href="javascript:" class="btn btn-success"> <span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download All</a>
                            <p class="help-block">Copy or email individual License keys, or download all keys to MS Excel file.</p>
                            <% for(var i=0; i< resp.activated_licenses.length; i++){ var a = resp.activated_licenses[i];%>
                            <div>
                                <h4><span class="glyphicon glyphicon-inbox"></span> <%= a.bound_to %></h4>
                                <div class="panel panel-default get-licenses-panel">
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <th width="50%">License</th>
                                                <th width="15%">Quantity</th>
                                                <th width="15%">Unit</th>
                                                <th width="15%"></th>
                                            </thead>
                                            <tbody>
                                                <td>
                                                    <b><%=a.activation_id%></b>
                                                    <div class="help-block">Networker mod for Oracle CLT Oracles8 & Later UX</div>
                                                </td>
                                                <td><%=a.quantity%></td>
                                                <td><%=a.units %></td>
                                                <td>
                                                    <button type="button" class="btn btn-success">
                                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email
                                                    </button>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <% } %>                        
                        </div>
                        <div class="panel-footer">                            
                            <div class="pull-right">
                                <a href="index.html" class="btn btn-primary">Done</a>                                
                            </div>

                        </div>